body {
	background-color: #f8f2ea;
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	height: 100%;
}

header {
		background-color: #30426c;
		height: 64px;
}

.logo img {
		float: left;
		border-right-style: solid;
		border-width: 7px;
		border-color: #f8f2ea;
}

.social {
	float: right;
	padding: 16px 20px;
	border-left-style: solid;
	border-color: #f8f2ea;
	border-left-width: 7px;
}

.bio {
	padding: 75px 250px 15px 250px;

}

.hero {
	float: left;
	padding: 0px 15px 7px 0px;
}

h1 {
	color: #3b5185;
	font-family: 'Rammetto One', sans-serif;
	text-transform: uppercase;
	font-size: 7em;
	line-height: 0.25em;
}

p {
	color: #12214a;
	line-height: 2em;
}

.intro {
	font-size: 1.35em;
	font-weight: bold;
}

a {
	color: #3455a4;
	font-weight: bolder;
	text-decoration: none;
}

.bio a:hover {
	background-color: #f4dfcc;
}

.endpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 35px;
}

.foot {
	background-color: #30426c;
	height: 1.5em;
}

.foot p {
	color: #f8f2ea;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: .75em;
	text-transform: uppercase;
	text-align: center;
}
